[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
numpy = "*"
scipy = "*"
numba = "*"
pyspark = "*"
matplotlib = "*"
"sp8-delayline" = {editable = true, git = "https://github.com/DaehyunPY/sp8-delayline.git"}

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
